<!DOCTYPE html>
<html lang='eng'> 

  <head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>


  <body>
    <div class='container'>

      <div class='jumbotron text-center'>
        <h1>Mission to Mars</h1>
        <p><a class='btn btn-primary btn-lg'  href='/scrape'  role='button'>Scrape New Data</a></p>
      </div>


      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h3>
              {{listings.news_title}}
            </h3>
            <p>
              {{listings.news_p}}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h3>Featured Mars Image</h3>
            <img alt="Featured Mars Image" src={{listings.featured_image_url}} />
          </div>
          <div class="col-md-4">
            <h3>
              Current Weather on Mars
            </h3>
            <p>
              {{listings.mars_weather}}
            </p>
            {{listings.mars_table | safe}}
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-12">
            <h3>Mars Hemispheres</h3>
          </div>
        </div>
        
        
        <div class="row">
          {% for image in listings.hemisphere_image_urls %}
          <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
            <figure class="effect-oscar">
              <img src="{{image.img_url}}" alt="" class="img-responsive" />
              <h2><span>{{image.title}}</span></h2>
            </figure>
          </section>
          {% endfor %}
        </div>

      </div>
    </div>
  </body>
</html>
